{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - FinSavvy - Elimu ya Fedha</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Mo FinSavvy</h1>
            <p>Your trusted source for financial education.</p>
        </header>

        <section class="intro">
            <h2>FinSavvy WhatsApp Chatbot</h2>
            <p>
                Need quick financial education? Reach out to our 24/7 WhatsApp chatbot!
                Save the number <strong class="whatsapp-number">0786 381 628</strong> and begin your conversation at your convenience. Alternatively, click the <strong>'Chat with Us'</strong> button below.👇
            </p>

            <button class="chat-button" onclick="openWhatsApp()">Chat with Us</button>
        </section>

        <footer>
            <p><a href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
        </footer>
    </div>

    <script>
        function openWhatsApp() {
            window.open("https://wa.me/255786381628", "_blank");
        }
    </script>
</body>
</html>

